name: CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
 yamllint:
    name: 'Yamllint'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
        
      - name: 'YAML lint'
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_file_or_dir: 'data'
          yamllint_strict: false
          yamllint_comment: false
